@model List<proj.Models.Victim>


<h1>
	Dashboard
</h1>

@foreach (var item in Model)
{
	<h3>@item.Name</h3>
	<ul>
		<li>Gender: @item.Gender</li>
		<li>Age: @item.Age</li>
		<li>Location: @item.Location</li>
		<li>Missing existing medication?: @item.HaveExistingMedication </li>
		<li>Has Water: @item.HaveWater</li>
		<li>Has Food: @item.HaveFood</li>
		<li>Urgency @item.UrgencyLevel</li>
	</ul>
	<hr />
}



@section Styles{
	<link rel="Stylesheet" href="./css/Dash.css" type="text/css" />
}

@section Scripts{

}